{% assign img_path = include.path | remove: '.jpg' | remove: '.jpeg' | remove: '.png' | remove: '.tiff' | remove: '.gif' %}

<figure {% if include.slot %}slot="{{ include.slot }}"{% endif %}>
  	<picture>
    	{% if site.imagemagick.enabled %}
      		<source
        		class="responsive-img-srcset"
        		srcset="{% for i in site.imagemagick.widths %}{{ img_path | relative_url }}-{{ i }}.webp {{i}}w,{% endfor %}"
				type="image/webp"
        		{% if include.sizes %}
        		  	sizes="{{include.sizes}}"
        		{% else %}
        		  	sizes="95vw"
        		{% endif %}
      		>
    	{% endif %}
    	<img
      		src="{% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache }}{% else %}{{ include.path | relative_url }}{% endif %}"
      		class="img-fluid rounded z-depth-1 {% if include.class %}{{ include.class }}{% endif %}"
			alt="{% if include.caption %}{{ include.caption }}{% elsif include.alt %}{{ include.alt }}{% endif %}"
      		{% if include.width %}
        		width="{{ include.width }}"
      		{% else %}
        		width="100%"
      		{% endif %}
      		{% if include.height %}
        		height="{{ include.height }}"
      		{% else %}
        		height="auto"
      		{% endif %}
			style="
			  	{% if include['min-width'] %}
					min-width: {{ include.min-width }};
			  	{% endif %}
			  	{% if include['min-height'] %}
					min-height: {{ include.min-height }};
			  	{% endif %}
			  	{% if include['max-width'] %}
					max-width: {{ include.max-width }};
			  	{% endif %}
				{% if include['max-height'] %}
				   max-height: {{ include.max-height }};
			  	{% endif %}
			"
      		{% if include.title %}
        		title="{{ include.title }}"
      		{% endif %}
      		{% if include.zoomable %}
        		data-zoomable
      		{% endif %}
      		{% if include.loading %}
        		loading="{{ include.loading }}"
      		{% elsif site.lazy_loading_images %}
        		loading="lazy"
      		{% endif %}
      		onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
    	>
  	</picture>

	{% if include.caption %}
		<figcaption class="caption">{{ include.caption }}</figcaption>
	{% endif %}
</figure>
