<footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
        <div class="row">
            <div class="col-sm-3">
                &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
            </div>
            <div class="col-sm-6">
                Powered by <a href="https://gitlab.com/jeffwtd-public/thesis-online-framework">Thesis Online Framework</a> &copy; JeffWTD
            </div>
            <div class="col-sm-3">
                <a href="#top">Go back to top</a>
            </div>
        </div>
    </div>
</footer>