<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
        <a class="navbar-brand title" href="/">
            {{ site.title }}
        </a>
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          {% for page in site.pages %}
            {% if page.permalink == '/' %} {% assign about_title = page.title %} {% endif %}
          {% endfor %}

          <!-- About -->
          <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              {{- about_title }}
              {% if page.permalink == '/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          <!-- Other pages -->
          {% assign sorted_pages = site.pages | sort: 'nav_order' %}
          {% for p in sorted_pages %}
            {% if p.nav and p.autogen == null %}
              {% if p.dropdown %}
                {% assign has_active_child = false %}
                {% for child in p.children %}
                  {% if page.title == child.title %}
                    {% assign has_active_child = true %}
                  {% endif %}
                {% endfor %}
                <li class="nav-item dropdown {% if page.title == p.title or has_active_child %}active{% endif %}">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    {{- p.title }}
                    {% if page.title == p.title or has_active_child %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% for child in p.children %}
                      {% if child.title == 'divider' %}
                        <div class="dropdown-divider"></div>
                      {% else %}
                        <a class="dropdown-item {% if page.title == child.title %}active{% endif %}" href="{{ child.permalink | relative_url }}">
                          {{- child.title -}}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                </li>
              {% else %}
                {% assign parent_link = p.permalink | remove: 'index.html' %}
                <li class="nav-item {% if page.url contains parent_link %}active{% endif %}">
                  {% if p.permalink contains '/blog/' %}{% assign url = '/blog/' %} {% else %}{% assign url = p.url %}{% endif %}
                  <a class="nav-link" href="{{ url | relative_url }}">
                    {{- p.title }}
                    {% if page.url contains p.url %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if site.search_enabled %}
            <!-- Search -->
            <li class="nav-item">
              <button id="search-toggle" title="Search" onclick="openSearchModal()">
                <span class="nav-link">ctrl k <i class="bi bi-search"></i></span>
              </button>
            </li>
          {% endif %}
          {% if site.enable_darkmode %}
            <!-- Toogle theme mode -->
            <li class="toggle-container">
              <button id="light-toggle" title="Change theme" style="width: 100%; height: 100%; justify-content: center;">
                <i class="" id="light-toggle-system" style="padding-top: 0;">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9.173 14.83a4 4 0 1 1 5.657 -5.657" /><path d="M11.294 12.707l.174 .247a7.5 7.5 0 0 0 8.845 2.492a9 9 0 0 1 -14.671 2.914" /><path d="M3 12h1" /><path d="M12 3v1" /><path d="M5.6 5.6l.7 .7" /><path d="M3 21l18 -18" /></svg>
                </i>
                <i class="" id="light-toggle-dark" style="padding-top: 0;">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
                </i>
                <i class="" id="light-toggle-light" style="padding-top: 0;">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
                </i>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>