<figure id="{{include.model}}" class="model aspect{{ include.aspectratio }} {{ include.class }}">
    <model-viewer 
        id="{{include.model}}_modelViewer"
        class="z-depth-1"
        auto-rotate
        camera-controls 
        touch-action="pan-y" 
        reveal="manual"
        alt="{% if include.caption %}{{ include.caption }}{% elsif include.alt %}{{ include.alt }}{% endif %}"
        src="{{ include.model | prepend: 'assets/models/' | append: '.glb' | relative_url }}">

        <div class="lazy-load-poster" slot="poster" style="background-image:url('{{ include.model | prepend: 'assets/models/' | append: '_placeholder.webp' | relative_url }}')"></div>
        <div class="button iconandtext centered model-load" onClick="LoadModel('{{include.model}}')" slot="poster">  
            <svg  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="transparent" d="M12 10.2308L3.08495 7.02346M12 10.2308L20.9178 7.03406M12 10.2308V20.8791M5.13498 18.5771L10.935 20.6242C11.3297 20.7635 11.527 20.8331 11.7294 20.8608C11.909 20.8853 12.091 20.8853 12.2706 20.8608C12.473 20.8331 12.6703 20.7635 13.065 20.6242L18.865 18.5771C19.6337 18.3058 20.018 18.1702 20.3018 17.9269C20.5523 17.7121 20.7459 17.4386 20.8651 17.1308C21 16.7823 21 16.3747 21 15.5595V8.44058C21 7.62542 21 7.21785 20.8651 6.86935C20.7459 6.56155 20.5523 6.28804 20.3018 6.0732C20.018 5.82996 19.6337 5.69431 18.865 5.42301L13.065 3.37595C12.6703 3.23665 12.473 3.167 12.2706 3.13936C12.091 3.11484 11.909 3.11484 11.7294 3.13936C11.527 3.167 11.3297 3.23665 10.935 3.37595L5.13498 5.42301C4.36629 5.69431 3.98195 5.82996 3.69824 6.0732C3.44766 6.28804 3.25414 6.56155 3.13495 6.86935C3 7.21785 3 7.62542 3 8.44058V15.5595C3 16.3747 3 16.7823 3.13495 17.1308C3.25414 17.4386 3.44766 17.7121 3.69824 17.9269C3.98195 18.1702 4.36629 18.3058 5.13498 18.5771Z"></path>
            </svg>
            Load 3D Model
        </div>

        <div class="button icon model-hide" onClick="HideModel('{{include.model}}')">
            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path fill="#ffffff" d="M17.558 15.44a1.49 1.49 0 0 1 0 2.12 1.5 1.5 0 0 1-2.12 0L9 11.12l-6.438 6.44a1.5 1.5 0 0 1-2.12 0 1.49 1.49 0 0 1 0-2.12L6.88 9 .442 2.563a1.5 1.5 0 0 1 2.12-2.12L9 6.883l6.438-6.44a1.5 1.5 0 0 1 2.12 2.12L11.12 9z"></path> 
            </svg>
        </div>
    </model-viewer>
    <figcaption class="caption">{{ include.caption }}</figcaption>
</figure>