{% assign extension = include.path | split: '.' | last %}

<figure class="herofigure">
  {% if extension == 'mp4' or extension == 'webm' or extension == 'ogg' %}
    <video
      src="{% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache }}{% else %}{{ include.path | relative_url }}{% endif %}"
      class="video img-fluid rounded z-depth-1 aspect{{ include.aspectratio }}"
      width="auto"
      height="auto"
      alt="{% if include.caption %}{{ include.caption }}{% elsif include.alt %}{{ include.alt }}{% endif %}"
      controls
      {% if include.loop %}
        loop
      {% endif %}
      {% if include.muted %}
        muted
      {% endif %}
      {% if include.poster %}
        poster="{{ include.poster }}"
      {% endif %}
    ></video>

  {% else %}
    <iframe
      anonymous
      src="{{ include.path }}"
      class="video img-fluid rounded z-depth-1 aspect{{ include.aspectratio }}"
      frameborder="0"
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture;"
      allowfullscreen
      width="auto"
      height="auto"
      alt="{{ include.caption }}"
    ></iframe>
  {% endif %}
  <figcaption class="caption">{{ include.caption }}</figcaption>
</figure>
